<module>
    <name>$name</name>
    <version>$version</version>
    <description>$description</description>
    $class
    <custom-module-xml>This is a custom module.xml</custom-module-xml>
    <dependencies>
        $dependencies
    </dependencies>
    <components>

$components


    	<!-- example -->
        <library>
            <resources>
            	<!-- production code  -->
                <resource>lib/$artifact</resource>
                
$resources
            </resources>
        </library>
    </components>
</module>
